@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LuckiestGuy;
  src: url("/fonts/LuckiestGuy-Regular.ttf");
}

.luckiestGuy {
  font-family: "LuckiestGuy";
}

html,
body,
* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hello {
  position: fixed !important;
}

.tColor {
  /* background-color: rgba(255, 255, 255, 0.3); */
  backdrop-filter: saturate(180%);
  backdrop-filter: blur(40px);
  /* border-radius: 50px; */
}