@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LuckiestGuy;
  src: url("/fonts/LuckiestGuy-Regular.ttf");
}

.luckiestGuy {
  font-family: "LuckiestGuy";
}

html,
body,
* {
  margin: 0;
  padding: 0;
  color: white;
}

.hello {
  position: fixed !important;
}

.tColor {
  /* backdrop-filter: saturate(180%);
  backdrop-filter: blur(40px); */
  border-radius: 4px;
}