@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: LuckiestGuy;
  src: url("/public/fonts/LuckiestGuy-Regular.ttf");
}

.luckiestGuy {
  font-family: "LuckiestGuy";
}

html,
body,
* {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hello {
  position: fixed !important;
}